/* ACTUAL BOX STYLING */
.boxes {
  width: 180px;
  height: 40px;
  display: inline-flex;
  border-style:solid;
  border-color: antiquewhite;
  background-color: rgba(0, 217, 255, 0.877);
  position: relative; 
  font-size: 18px;
  padding: 1.5%;
  justify-content: center;  
  align-items: center;
}
.boxes:hover {
  background-color:rgb(0, 174, 255);
  text-align: center;
}

.consulting{
  margin: 0%;
}

@media screen and (min-width: 1180px) {
  .consulting{
    margin: 1% 50% 0 40%;
  }
  .coding{
    margin: 1% 0.5% 0 30%;
  }
  .accounting{
    margin: 1% 30% 0 0;
  }
  .engineering{
    margin: 1% 0.5% 0 20%;
  }
  .exercise{
    margin: 1% 0.5% 0 0;
  }
  .entrepreneurship{
    margin: 1% 0.5% 0 0;
  }
}
