.resume{
    width: 100%;
    text-align: center;
    vertical-align: middle;  
    font-size: 6rem;
    padding: 50px 0;
    color: rgb(0, 174, 255);
}
.content{
  padding: 50px 0;
  color: rgb(0, 174, 255);
}
map {
    display: inline;
}
body{
    background-color: black;  
}

footer{
    color: rgb(0, 174, 255);
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


