.resume{
    width: 100%;
    text-align: center;
    vertical-align: middle;  
    padding: 50px 0 10px 0;
    color: rgb(0, 174, 255);
}
.heading{
    font-size: 6rem;
}
.small{
    font-size: 1.5rem;
}
.content{
  padding: 50px 0;
  color: rgb(0, 174, 255);
}
map {
    display: inline;
}
body{
    background-color: black;  
}

footer{
    color: rgb(0, 174, 255);
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.cent{
    padding: 20% 0;
    color: black;
}

img.thumbnail{    
    border-radius: 50%;
    border: 10px solid rgba(0, 217, 255, 0.877);
    
}

.left-half{
    left: 0px;
    width: 50%;
    position: absolute;
    padding: 7% 0 0 5%;
}

.right-half{
    right: 0px;
    width: 48%;
    position: absolute;
    padding: 5% 5% 0 5%;
    font-size: 23px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.large-heading{
    font-size: 125px;
}

a{
    color: green;
}